body {
    display: flex;
    margin: 0px;
    background-color: #EEE;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    height: 70px;
    width: 100%;
    border-bottom: solid 1px rgb(27, 83, 187);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.header img {
    height: 80%;
    display: inline-block;
    justify-self: self-start;
    padding: 10px;
}

.header #buttons {
    justify-self: self-end;
    margin-right: 50px;
}

.header button {
    color: rgb(27, 83, 187);
    border-style: none;
    background-color: white;
    border-radius: 6px;
    font-size: 0.9em;
    padding: 16px 20px;
    margin: 0px 5px;
}

.header button:hover, button:focus {
    background-color: rgb(27, 83, 187);
    color: white;
}