
/* Adicionando responsividade para mobile */
@media screen and (max-width: 720px) {
  .section {
    display: block;
    width: 100vw;
    height: 100vh;
    height: auto;
    margin: 0 auto;
    padding: 5%;
    padding-top: 20%;
    padding-bottom: 20%;
  }
  .box_img {
    width: 80%;
    height: 80%;
  }
  
  .header {
    position: fixed;
  }
  
  #home_button {
    background-color: #3D5A80;
    color: #ffffff;
    border-radius: 5px;
    padding: 5%;
    font-weight: bold;
  }
  
  .footer {
    display: block;
  }
}

* {
  box-sizing: border-box;
  border: none;
  outline: none; /* tira aquela borda feia quando a gente clica em um input ou botão */
  text-decoration: none;
  list-style: none;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-color: #EEE;
    font-family: 'Roboto', sans-serif;
    color: #293241;
}


h1 {
  color: #3D5A80;
}
.header {
    height: 70px;
    width: 100%;
    border-bottom: solid 1px rgb(11, 37, 85);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 3px 3px 5px 0px rgb(9 27 65 / 30%);
}

.header img {
    height: 80%;
    display: inline-block;
    justify-self: self-start;
    padding: 10px;
}

.header #buttons {
    justify-self: self-end;
    margin-right: 50px;
}

.header button {
    color: rgb(27, 83, 187);
    border-style: none;
    background-color: white;
    border-radius: 6px;
    font-size: 0.9em;
    padding: 16px 20px;
    margin: 0px 5px;
}

.header button:hover {
    background-color: rgba(27, 83, 187, 0.377);
    color: white;
}

.header button:focus {
    background-color: rgb(27, 83, 187);
    color: white;
}

.section {
    text-align: center;
    text-justify: left;
}

#section {
  background: #ffffff;
}

#home_h1 {
  color: #293241;
}

#home_button:hover {
  transition: 0.5s;
  background: #EE6C4D;
}

a {
  color: #3D5A80;
}

.footer {
  width: 100vw;
  background: #ffffff;
  padding: 10%;
}

.footer li {
  margin-top: 6px;
}